{% extends "layout.html" %}
{% block body %} 
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts_1 %}
          <div class="site-heading">
            <h1>Show Time</h1>
            <span class="subheading"> {{post.tag_line}} </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

      	<!-- TO FETCH THE POSTS FROM THE DATABASE FOR PRACTICAL IMPLEMENTATION USING 'FOR' LOOP-->

        
        	<!--<li><a href="/post/{{post.slug}}">{{ post.title }}</a></li>-->
    	
        <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">
              <!--Man must explore, and this is exploration at its greatest-->
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              Problems look mighty small from 150 miles up
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on September 24, 2019</p>
        </div>
         {{post.content[0:130]}}....
        <hr>

        {% endfor %}


        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{next}}"> Next &rarr; </a>
          <a class="btn btn-primary float-left" href="{{prev}}">&larr; Previous </a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  
